name: build

on:
  push:
    branches:
    - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up Node
      uses: actions/setup-node@v6
      with:
        node-version: 25
        registry-url: https://npm.pkg.github.com/open-game-server-host/
        token: ${{ secrets.GITHUB_TOKEN }}
    - run: npm i
    - run: tsc
    - run: npm publish