name: build

on:
  push:
    branches:
    - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up Node
      uses: actions/setup-node@v6
      with:
        node-version: 25
        registry-url: https://npm.pkg.github.com/
    - name: npm login
      run: npm login --auth-type legacy
    - name: Publish
      run: |
        echo "@open-game-server-host:registry=https://npm.pkg.github.com/" >> .npmrc
        echo "//npm.pkg.github.com/:_authToken=\"$TOKEN\"" >> .npmrc
        echo "//npm.pkg.github.com/:always-auth=true" >> .npmrc
        echo "TOKEN: $TOKEN"
      env:
        TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - run: npm i
    - run: tsc
    - run: npm publish